/* dark theme */

/*
.root {
    b_color: #212121;
    sb_color: #2a2a2a;
    main_text_color: #FFEBCD;
    control_color: #434343;
    title_color: #0f0c07;
    -fx-background-color: #FF9C5F;
}
*/

/* default theme */
/*
.root {
    b_color: #FF9C5F;
    sb_color: #558188;
    main_text_color: #FFEBCD;
    control_color: #5FA292;
    title_color: #253939;
    -fx-background-color: linear-gradient(from 25% 100% to 100% 25%, b_color, main_text_color);
}
*/


.root {
    b_color: #dddddd;
    sb_color: #d6d6d6;
    main_text_color: #212121;
    control_color: #afafaf;
    title_color: #f5f5f5;
    hover_color: #9ED2A6;
    focus_color: #9ED2A6;
    -fx-background-color: sb_color;
}


.background {
    -fx-background-color: b_color;
}

.sub_background {
    -fx-background-color: sb_color;
}

.header {
    -fx-font-size: 42pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: main_text_color;
}

.item-title {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: main_text_color;
    -fx-opacity: 0.6;
}

.background_style {
    /*-fx-background-color: b_color;*/
    -fx-background-color: b_color;
}

.background_fills {
    -fx-background-color: #000000, #111111, #000000, #111111;
}

.label {
    -fx-font-size: 10pt;
    -fx-text-fill: main_text_color
}

.text-field {
    -fx-font-size: 10pt;
    -fx-background-color: control_color;
    -fx-background-radius: 0;
    -fx-text-fill: main_text_color;
}

.text-field:focused {
    -fx-background-color: hover_color;
    -fx-background-radius: 0;
}

/*
 * BorderPane
 */

.border-pane {
    -fx-background-color: b_color;
}

.border-pane .background_style {
    -fx-background-color: b_color;
}

/*
 * TableView
 */

.table-view {
    -fx-base: #ffffff;
    -fx-control-inner-background: control_color;
    -fx-background-color: sb_color;
    -fx-table-cell-border-color: sb_color;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
}

.table-row-cell .table-cell {
    -fx-border-width: 0px;
}

.table-view .column-header-background {
    -fx-background-color: sb_color;
}

.table-row-cell:empty {
    -fx-background-color: sb_color;
}

.table-row-cell:selected {
    -fx-background-color: control_color;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35px;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: transparent;
    -fx-border-color: title_color title_color title_color title_color;
    -fx-border-insets: 1 1 1 1;
}

.table-view .column-header .label {
    -fx-text-fill: main_text_color;
    -fx-alignment: center-left;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: focus_color;
}

.table-view .placeholder {
    -fx-background-color: sb_color;
}

.table-row-cell .text {
    -fx-fill: main_text_color;
}


/*
 *
 * TabPane
 */

.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
    -fx-background-color: b_color;
    -fx-border-color: title_color;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover:top {
    -fx-background-color: b_color;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: control_color;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: main_text_color;
    -fx-font-weight: bold;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: main_text_color;
    -fx-font-weight: bold;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 1;
    -fx-background-color: title_color
}

.tab-pane {
    -fx-font-size: 10pt;
    -fx-tab-min-width: 50px;
    -fx-background-color: b_color;
    -fx-text-fill: main_text_color;
}

.tab {
    -fx-font-size: 10pt;
    -fx-background-insets: 0 1 0 1, 0, 0;
    -fx-background-color: control_color;
    -fx-color: control_color;
    -fx-text-fill: main_text_color;
}

.tab-pane .tab {
    -fx-background-color: control_color;
    -fx-border-color: title_color;
}

.tab-pane .tab:selected {
    -fx-background-color: b_color;
}

.tab-pane .tab:hover {
    -fx-background-color: b_color;
}

/*******
 *  titled pane
 */

.titled-pane {
    -fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";
    -fx-text-fill: main_text_color;
    -fx-border-color: title_color, title_color;
    -fx-border-width: 1, 1;
}

.titled-pane:focused {
    -fx-text-fill: main_text_color;
}

.titled-pane > .title {
    -fx-background-color: title_color;
    -fx-background-insets: 0; /* , 1, 2;*/
    -fx-background-radius: 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
    -fx-font-size: 10pt;
}

.titled-pane:focused > .title {
    -fx-color: focus_color;
}

/*
ToolBar
 */


.tool-bar {
    -fx-background-color: b_color;
    -fx-background-radius: 0;
}

/*
.tool-bar .sum {
    -fx-background-color: title_color;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-background-radius: 0;
}
*/

.tool-bar .label {
    /*-fx-background-color: title_color;*/
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}


/*
HBox
 */

.hbox .text-field {
    -fx-padding: 5 22 5 22;
    -fx-border-width: 2;
    -fx-border-insets: 1;

    -fx-font-size: 10pt;
    -fx-background-color: control_color;
    -fx-background-radius: 0;
    -fx-text-fill: main_text_color;
}

/*
ComboBox
 */

.combo-box {
    -fx-font-size: 10pt;
    -fx-background-color: control_color;
    -fx-background-radius: 0;
    -fx-text-fill: main_text_color;
}

.combo-box:selected{
    -fx-background-color: hover_color;
}

.combo-box:hover{
    -fx-background-color: hover_color;
}

.combo-box:focused{
    -fx-background-color: hover_color;
}

.combo-box-popup .list-view .list-cell:hover{
    -fx-background-color: hover_color;
    -fx-text-fill: main_text_color;
}

.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: focus_color;
}

.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: focus_color;
    -fx-text-fill: main_text_color;
}

.alert{
    -fx-background-color: focus_color;
    -fx-text-fill: main_text_color;
}

.alert .button {
    -fx-padding: 5 22 5 22;
    -fx-border-width: 2;
    -fx-border-insets: 1;

    -fx-background-radius: 0.5;

    -fx-background-color: control_color;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: main_text_color;

}

.alert .button:hover {
    -fx-background-color: hover_color;
}


.alert .button:focused {
    -fx-background-color: control_color;
    -fx-border-radius: 0, 0;
}

.alert .button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.alert .button:default {
    -fx-background-color: #9b7a2c;
    -fx-text-fill: #ffffff;
}

.alert .button:default:hover {
    -fx-background-color: #9b7a2c;
}

.dialog-pane{
    -fx-border-color:black;
    -fx-border-width:2.0px;
}

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
    -fx-background-color:black;
}

.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: yellow;
    -fx-text-fill:black;
    -fx-font-size:15.0px;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
    -fx-background-color: black;
}

.dialog-pane:header .header-panel .label{
    -fx-background-color: yellow;
    -fx-background-radius:10px;
    -fx-text-fill:black;
    -fx-font-size:15.0px;
}


/**Costumization of Buttons**/
.dialog-pane .button{
    -fx-background-color:black;
    -fx-text-fill:white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow( three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor:hand;
}

.dialog-pane .button:hover{
    -fx-background-color:white;
    -fx-text-fill:black;
    -fx-font-weight:bold;
}

/*******************************************************************************
 *                                                                             *
 * Push Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-width: 2;
    -fx-border-insets: 1;

    -fx-background-radius: 0.5;

    -fx-background-color: control_color;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: main_text_color;

}

.button:hover {
    -fx-background-color: hover_color;
}

.button:focused {
    -fx-background-color: hover_color;
    -fx-border-radius: 0, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: #9b7a2c;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: #9b7a2c;
}

/*******************************************************************************
 *                                                                             *
 * Toggle Button                                                               *
 *                                                                             *
 ******************************************************************************/

.toggle-button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;

    -fx-background-radius: 0;

    -fx-background-color: #1d1d1d;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #d8d8d8;
}

.toggle-button:focused {
    -fx-border-color: white, white;

    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.toggle-button:hover {
    -fx-text-fill: #d8d8d8;
    -fx-background-color: hover_color;
}

.toggle-button:selected {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.toggle-button:selected:hover {
    -fx-background-color: #eee;
    -fx-text-fill: #1d1d1d;

    -fx-border-color: #eee;
}

.toggle-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

/*******************************************************************************
 *                                                                             *
 * Check Box                                                                   *
 *                                                                             *
 ******************************************************************************/

.check-box {
    -fx-text-fill: white;
}

.check-box .box {
    -fx-background-color: #d1d1d1;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: #d1d1d1;
    -fx-border-width: 2px;
    -fx-borders-style: solid;
    -fx-padding: 1;
}

.check-box .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 0;

    -fx-padding: 7px;
    -fx-shape: "M1,10L3,8L7,12L14,5L16,7L7,16Z"
}

.check-box:focused .box {
    -fx-background-color: #d1d1d1;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: white, #d1d1d1;
    -fx-border-width: 1, 2;
    -fx-border-style: solid;
    -fx-border-insets: -3, 0;
}

.check-box:selected .mark {
    -fx-background-color: #202020;
}

.check-box:indeterminate .mark {
    -fx-background-color: black;
    -fx-background-insets: 2.8;
    -fx-padding: 7px;
    -fx-shape: null;
}

.check-box:disabled {
    -fx-opacity: 0.4;
}

.check-box:disabled .box {
    -fx-border-color: white;
    -fx-background-color: white;
}

.check-box:armed .box {
    -fx-background-color: transparent, white;
    -fx-background-insets: -1, 2;
    -fx-background-radius: 0, 0;
}

/*******************************************************************************
 *                                                                             *
 * Radio Button                                                                *
 *                                                                             *
 ******************************************************************************/

.radio-button {
    -fx-text-fill: white;
}

.radio-button .radio {
    -fx-background-color: #cfcfcf;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-background-insets: 0;

    -fx-border-radius: 1.0em;
    -fx-border-color: #cfcfcf;

    -fx-padding: 4px; /* 4 -- padding from outside edge to the inner black dot */
}

.radio-button:hover .radio {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #e0e0e0;
}


.radio-button .dot {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-padding: 6px; /* 3 -- radius of the inner black dot when selected */
}

.radio-button:selected .dot {
    -fx-background-color: #212121;
}

.radio-button:disabled {
    -fx-opacity: 0.5;
}

.radio-button:disabled .radio {
    -fx-background-color: #e6e6e6;
    -fx-border-color: #d9d9d9;
}

.radio-button:focused .radio {
    -fx-background-color: #cfcfcf;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-background-insets: 0;

    -fx-border-style: solid;
    -fx-border-radius: 1.0em, 0;
    -fx-border-color: #cfcfcf, white;
    -fx-border-insets: 0px, -2px;
    -fx-border-width: 1px, 1px;

    -fx-padding: 4px; /* 4 -- padding from outside edge to the inner black dot */
}

.radio-button:armed .radio {
    -fx-background-color: white;
    -fx-border-color: white;
}

.radio-button:pressed:selected .radio {
    -fx-background-color: white;
    -fx-border-color: white;
}

.radio-button:pressed:selected .dot {
    -fx-background-color: black;
}

.radio-button:armed .dot {
    -fx-background-color: white;
}

.radio-button:focused:armed .radio {
    -fx-background-color: white;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-background-insets: 0;

    -fx-border-style: solid;
    -fx-border-radius: 1.0em, 0;
    -fx-border-color: white, white;
    -fx-border-insets: 0px, -2px;
    -fx-border-width: 1px, 1px;

    -fx-padding: 4px; /* 4 -- padding from outside edge to the inner black dot */
}

